<div>
    <div class="container">
        <h1>Funding Basket</h1>
        <table class="table table-striped" aria-label="Needs List">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount Needed</th>
                    <th>Amount in Stock</th>
                    <th>Unit</th>
                    <th>Tags</th>
                    <th>Funding Amount</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let id of getIDs()">
                    <td>{{needs[id].name}}</td>
                    <td>{{needs[id].amount_needed}}</td>
                    <td>{{needs[id].amount_in_stock}}</td>
                    <td>{{needs[id].amount_unit}}</td>
                    <td>{{needs[id].tags}}</td>

                    <td style="white-space: nowrap">
                        <input type="number" [(ngModel)]="fundingAmounts[id]"
                            (change)="validateFundingAmount(id, $event.target)" />
                    </td>

                    <td style="white-space: nowrap">
                        <button type="button" (click)="removeFromBasket(id)">
                            Remove from Basket
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="checkout()">
            Checkout
        </button>
    </div>
</div>
